apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- architecture: amd64 
  hyperthreading: Enabled
  name: worker
  replicas: {{ (hosts | selectattr('role', 'equalto', 'worker') | list | length) | int }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: {{ (hosts | selectattr('role', 'equalto', 'master') | list | length) | int }}
metadata:
  name: abi
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/24
  networkType: OVNKubernetes 
  serviceNetwork:
  - 172.30.0.0/16
platform: 
  baremetal:
    apiVIPs: {{ apiVIPs }}
    ingressVIPs: {{ ingressVIPs }}
pullSecret: '{{ pull_secret }}'
sshKey: "{{ ssh_key }}"
